/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;

  --basic-dark-grey: #333333;
  --basic-rating-grey: #666666;
  --basic-blocked-grey: #6A6A6A;
  --basic-active-htmlacademy: #BDBBBC;

  --basic-focus-grey: #E5E5E5;
  --basic-hover-grey: #EBEBEB;
  --basic-attraction-grey: #EEEEEE;
  --basic-light-grey: #F2F2F2;

  --basic-active-brown: #503E33;
  --basic-hover-brown: #604E43;
  --basic-light-brown: #766357;

  --basic-active-blue: #5496BD;
  --basic-hover-blue: #669EC0;
  --basic-light-blue: #81B3D2;

  --basic-white: #FFFFFF;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.matrix {
  width: 1200px;
  height: 2762px;
  margin: 0 auto;
  background-image: url("../img/sedona-new-index-1200px.jpg");
}

/* INDEX.html */

/* Header */

.main-header {
  opacity: 0.5;
}

.main-navigation {
  width: 1200px;
  height: 56px;
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.site-navigation-item,
.site-navigation-logo {
  width: 138px;
  height: 56px;
  text-align: center;
  background-color: cyan;
}

.site-navigation-item a {
  line-height: 56px;
  font-weight: bold;
  color: var(--basic-black);
  color: red;
}

.site-navigation-logo {
  z-index: 10;
}

/* Main */
/* Promo */

.promo {
  width: 1200px;
  height: 724px;
  background-color: var(--basic-light-blue);
  background:
    url("../img/background-bottom.svg") no-repeat left bottom,
    url("../img/background-photo.jpg") no-repeat left top;
  opacity: 0.5;
}

.intro-welcome {
  display: flex;
  width: 1200px;
  height: 504px;
}

.intro-welcome img {
  width: 456px;
  height: 350px;
  margin: auto;
}

.promo h2 {
  margin-top: 46px;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  color: red;
}
 .promo p {
   margin-top: 44px;
   text-align: center;
   background-color: var(--basic-white);
   color: red;
 }

/* Features */

.features {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
  text-align: center;
  opacity: 0.5;
}

.real-town {
  grid-column: 1;
  grid-row: 1;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.real-town h3 {
  margin-top: 46px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: red;
}

.real-town p {
  margin-top: 26px;
  line-height: 21px;
  color: red;
}

.features img:first-of-type {
  grid-column: 2 / 4;
  grid-row: 1;
}

.features-list {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.features-list-item {
  width: 400px;
  height: 330px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.features-list-item img {
  margin-top: 58px;
  width: 72px;
  height: 72px;
}

.features-list-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  color: red;
}

.features-list-item p {
  margin-top: 28px;
  font-size: 14px;
  line-height: 21px;
  color: red;
}

.features img:last-of-type {
  grid-column: 1 / 3;
  grid-row: 3;
  /* width: 800px;
  height: 256; */
}

.devil-bridge {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.devil-bridge h3 {
  margin-top: 48px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: red;
}

.devil-bridge p {
  margin-top: 26px;
  line-height: 21px;
  color: red;
}

.attraction-list {
  grid-column: 1 / 4;
  grid-row: 4;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.attraction-list-item {
  width: 400px;
  height: 256px;
  line-height: 21px;
  background-color: var(--basic-attraction-grey);
}

.attraction-list-item h3 {
  margin-top: 46px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  color: red;
}

.attraction-list-item p {
  margin-top: 26px;
  line-height: 21px;
  color: red;
}

/* Reservation */

.form-reservation {
  margin-top: 55px;
  margin-left: 383px;
  width: 435px;
  height: 149px;
  background-color: var(--basic-white);
  opacity: 0.5;
}



.form-reservation h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  color: red;
}

.form-reservation p {
  margin-top: 32px;
  text-align: center;
  color: red;
}

.form-title {
  display: flex;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  text-align: center;
  background-color: var(--basic-light-brown);
  opacity: 0.5;
}

.form-title span {
  margin: auto;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  color: red;
}

.form-title:hover {
  background-color: var(--basic-hover-brown);
}

.form-title:active {
  color: var(--basic-light-brown);
  background-color: var(--basic-active-brown);
}

.map {
  width: 1200px;
  height: 594px;
  opacity: 0.5;
}

/*.arrival input,
.departure input {
  width: 346px;
  height: 38px;
}

.adults input,
.children input {
  width: 114px;
  height: 38px;
}

.arrival,
.departure,
.adults,
.children {
  font-weight: bold;
  color: var(--basic-black);
}

.arrival input,
.departure input,
.adults input,
.children input {
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: 2px solid var(--basic-light-grey);
}

.arrival input:hover,
.departure input:hover,
.adults input:hover,
.children input:hover {
  background-color: var(--basic-hover-grey);
  border: 2px solid var(--basic-hover-grey);
}

.arrival input:focus,
.departure input:focus,
.adults input:focus,
.children input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-focus-grey);
}

.calendar {
  width: 21px;
  height: 23px;
}

.minus {
  width: 12px;
  height: 23px;
}

.plus {
  width: 11px;
  height: 23px;
}

.calendar svg:hover,
.minus svg:hover,
.plus svg:hover {
  fill: var(--basic-black);
}

.calendar svg:active,
.minus svg:active,
.plus svg:active {
  fill: var(--basic-light-blue);
}

.reservation-button {
  width: 458px;
  height: 58px;
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.reservation-button:hover {
  background-color: var(--basic-hover-blue);
}

.reservation-button:active {
  color: var(--basic-light-blue);
  background-color: var(--basic-active-blue);
} */



/* Footer */

.main-footer,
.catalog-footer {
  width: 1200px;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
}

.main-footer {
  position: relative;
  margin-top: -120px;
  opacity: 0.5
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  height: 120px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-visitsedona {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 370px;
  height: 120px;
}

.footer-visitsedona h3,
.footer-visitsedona a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  color: red;
}

.footer-visitsedona a {
  margin-top: -11px;
}

.footer-social {
  width: 156px;
  height: 120px;
}

.logo-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 156px;
  height: 120px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.logo-social-item {
  display: flex;
  margin: 3px;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
}

.logo-social-item a {
  margin: auto;
  margin-top: 14px;
}

.logo-social-item:hover {
  background-color: var(--basic-hover-blue);
}

.logo-social-item:active,
.logo-social-item svg:active {
  background-color: var(--basic-active-blue);
  fill: var(--basic-light-blue);
}

.footer-htmlacademy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 120px;
  color: var(--basic-black);
  color: red;
}

.footer-htmlacademy svg:hover {
  fill: var(--basic-light-blue);
}

.footer-htmlacademy svg:active {
  fill: var(--basic-active-htmlacademy);
}

/*   CATALOG.html  */
/* Main navigation */

.site-navigation-item-hotels {
  font-weight: bold;
  color: var(--basic-light-brown);
}

/* Filter */

.filter {
  width: 1200px;
  height: 400px;
  background-image: url(../img/blur.jpg);
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
  line-height: 21px;
  color: var(--basic-white);
}

.filter label {
  line-height: 21px;
  color: var(--basic-white);
}

.filter button {
  width: 137px;
  height: 36px;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  vertical-align: middle;
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/* Sorting */

.sorting {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting h2 {
  font-weight: bold;
  font-size: 21px;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
}

.sorting ul {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list li:nth-child(1) > a {
  color: var(--basic-light-blue);
}

.sorting-list li:nth-child(2) > a,
.sorting-list li:nth-child(3) > a {
  border-bottom: 1px dashed var(--basic-light-blue);
  box-sizing: border-box;
  opacity: 0.3;
}

.sorting-list li:nth-child(2) > a:hover,
.sorting-list li:nth-child(3) > a:hover {
  color: var(--basic-light-blue);
  opacity: 1.0;
}

.sorting-list li:nth-child(2) > a:active,
.sorting-list li:nth-child(3) > a:active {
  border-bottom: none;
  color: var(--basic-black);
}

/* Ranking */

.pointer-up svg:hover {
  fill: var(--basic-black);
}

.pointer-up svg:active {
  fill: var(--basic-light-blue);
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.hotel-photo {
  width: 135px;
  height: 90px;
}

.catalog-list-item h3,
.catalog-list-item h3 > a {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

.catalog-list-item h3:hover,
.catalog-list-item h3 > a:hover {
  color: var(--basic-light-blue);
}

.catalog-list-item h3:active,
.catalog-list-item h3 > a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel span {
  line-height: 21px;
  color: var(--basic-dark-grey);
}

.details {
  width: 110px;
  height: 27px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-light-blue);
}

.details:hover {
  background-color: var(--basic-hover-blue);
}

.details:active {
  color: var(--basic-light-blue);
  background-color: var(--basic-active-blue);
}

.reserve span {
  line-height: 21px;
  color: var(--basic-dark-grey);
}

.reserve-form {
  width: 142px;
  height: 27px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  align-items: center;
  background-color: var(--basic-light-brown);
}

.reserve-form:hover {
  background-color: var(--basic-hover-brown);
}

.reserve-form:active {
  color: var(--basic-light-brown);
  background-color: var(--basic-active-brown);
}

.rating-list {
  list-style: none;
}

.rating-num {
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: var(--basic-light-grey);
}

.rating-num span {
  color: var(--basic-rating-grey);
}
