/* Variables */

:root {
  --basic-background: #F2F2F2;

  --basic-black: #000000;

  --basic-dark-grey: #333333;
  --basic-rating-grey: #666666;
  --basic-blocked-grey: #6A6A6A;
  --basic-active-htmlacademy: #BDBBBC;

  --basic-focus-grey: #E5E5E5;
  --basic-hover-grey: #EBEBEB;
  --basic-light-grey: #F2F2F2;

  --basic-active-brown: #503E33;
  --basic-hover-brown: #604E43;
  --basic-light-brown: #766357;

  --basic-active-blue: #5496BD;
  --basic-hover-blue: #669EC0;
  --basic-light-blue: #81B3D2;

  --basic-white: #FFFFFF;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*    INDEX.html   */
/* Main navigation */

.main-navigation {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation a {
  font-weight: bold;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

/* Promo */

.background-photo {
  width: 1200px;
  height: 509px;
  background-image: url(../img/background-photo.jpg);
}

.intro-welcome {
  width: 458px;
  height: 352px;
  background-image: url(../img/intro-welcome.svg);
}

.background-bottom {
  width: 1200px;
  height: 272px;
  background-image: url(../img//background-bottom.svg);
}

.promo {
  text-align: center;
}

.promo h2 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
 .promo p {
   background-color: var(--basic-white);
 }

/* Features */

.features {
  text-align: center;
}

.real-town {
  width: 400px;
  height: 256px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.real-town h3 {
  font-weight: bold;
  font-size: 21px;
}

.features-list {
  text-align: center;
  list-style: none;
}

.features-list-item {
  width: 400px;
  height: 330px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.features-list-item h3 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

.devil-bridge {
  width: 400px;
  height: 256px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.devil-bridge h3 {
  font-weight: bold;
  font-size: 21px;
}

/* Attraction */

.attraction-list {
  text-align: center;
  list-style: none;
}

.attraction-list-item {
  width: 400px;
  height: 256px;
  line-height: 21px;
}

.attraction-list-item h3 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

/*    Reservation    */

.form-reservation {
  background-color: var(--basic-white);
}

.form-reservation h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.form-reservation p {
  text-align: center;
}

.form-title {
  width: 568px;
  height: 86px;
  text-align: center;
  background-color: var(--basic-light-brown);
}

.form-reservation a {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
}

.form-title:hover {
  background-color: var(--basic-hover-brown);
}

.form-title:active {
  color: var(--basic-light-brown);
  background-color: var(--basic-active-brown);
}

.arrival input,
.departure input {
  width: 346px;
  height: 38px;
}

.adults input,
.children input {
  width: 114px;
  height: 38px;
}

.arrival,
.departure,
.adults,
.children {
  font-weight: bold;
  color: var(--basic-black);
}

.arrival input,
.departure input,
.adults input,
.children input {
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: 2px solid var(--basic-light-grey);
}

.arrival input:hover,
.departure input:hover,
.adults input:hover,
.children input:hover {
  background-color: var(--basic-hover-grey);
  border: 2px solid var(--basic-hover-grey);
}

.arrival input:focus,
.departure input:focus,
.adults input:focus,
.children input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-focus-grey);
}

.calendar {
  width: 21px;
  height: 23px;
}

.minus {
  width: 12px;
  height: 23px;
}

.plus {
  width: 11px;
  height: 23px;
}

.calendar svg:hover,
.minus svg:hover,
.plus svg:hover {
  fill: var(--basic-black);
}

.calendar svg:active,
.minus svg:active,
.plus svg:active {
  fill: var(--basic-light-blue);
}

/* Reservation button */

.reservation-button {
  width: 458px;
  height: 58px;
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.reservation-button:hover {
  background-color: var(--basic-hover-blue);
}

.reservation-button:active {
  color: var(--basic-light-blue);
  background-color: var(--basic-active-blue);
}

/* Map */

.map {
  display: none;
}

/* Footer */

.visit-sedona h3,
.visit-sedona a {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.logo-social {
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
}

.logo-social:hover {
  background-color: var(--basic-hover-blue);
}

.logo-social:active,
.logo-social svg:active {
  background-color: var(--basic-active-blue);
  fill: var(--basic-light-blue);
}

.htmlacademy span {
  color: var(--basic-black);
}

.htmlacademy svg:hover {
  fill: var(--basic-light-blue);
}

.htmlacademy svg:active {
  fill: var(--basic-active-htmlacademy);
}

/*   CATALOG.html  */
/* Main navigation */

.site-navigation-item-hotels {
  font-weight: bold;
  color: var(--basic-light-brown);
}

/*     Filter     */

.filter {
  width: 1200px;
  height: 400px;
  background-image: url(../img/blur.jpg);
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
  line-height: 21px;
  color: var(--basic-white);
}

.filter label {
  line-height: 21px;
  color: var(--basic-white);
}

.filter button {
  width: 137px;
  height: 36px;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  vertical-align: middle;
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/*     Sorting     */

.sorting {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting h2 {
  font-weight: bold;
  font-size: 21px;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
}

.sorting ul {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list li:nth-child(1) > a {
  color: var(--basic-light-blue);
}

.sorting-list li:nth-child(2) > a,
.sorting-list li:nth-child(3) > a {
  border-bottom: 1px dashed var(--basic-light-blue);
  box-sizing: border-box;
  opacity: 0.3;
}

.sorting-list li:nth-child(2) > a:hover,
.sorting-list li:nth-child(3) > a:hover {
  color: var(--basic-light-blue);
  opacity: 1.0;
}

.sorting-list li:nth-child(2) > a:active,
.sorting-list li:nth-child(3) > a:active {
  border-bottom: none;
  color: var(--basic-black);
}

/*     Ranking     */

.pointer-up svg:hover {
  fill: var(--basic-black);
}

.pointer-up svg:active {
  fill: var(--basic-light-blue);
}

/*     Catalog     */

.catalog-list {
  list-style: none;
}

.hotel-photo {
  width: 135px;
  height: 90px;
}

.catalog-list-item h3,
.catalog-list-item h3 > a {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel span {
  line-height: 21px;
  color: var(--basic-dark-grey);
}

.details {
  width: 110px;
  height: 27px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  align-items: center;
  background-color: var(--basic-light-blue);
}

.details:hover {
  background-color: var(--basic-hover-blue);
}

.details:active {
  color: var(--basic-light-blue);
  background-color: var(--basic-active-blue);
}

.reserve span {
  line-height: 21px;
  color: var(--basic-dark-grey);
}

.reserve-form {
  width: 142px;
  height: 27px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  align-items: center;
  background-color: var(--basic-light-brown);
}

.reserve-form:hover {
  background-color: var(--basic-hover-brown);
}

.reserve-form:active {
  color: var(--basic-light-brown);
  background-color: var(--basic-active-brown);
}

.rating-list {
  list-style: none;
}

.rating-num {
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: var(--basic-light-grey);
}

.rating-num span {
  color: var(--basic-rating-grey);
}
